# "endpoint" from the service "Endpoint" page
STORAGE_API_ENDPOINT=

# "iam_serviceid_crn" from the credentials
STORAGE_RESOURCE_INSTANCE_ID=

# Set to `true` if backend should store previous versions of Terraform state
VERSIONING=false